/.DS_Store
/.vscode
/node_modules
/backend-web-server
/gen-package-json
/vendor.orig

/backend/etcd-python/*.pyc
/backend/etcd-python/__pycache__/
/backend/worker/*.pyc
/backend/worker/__pycache__/
/backend/worker/cats/*.pyc
/backend/worker/cats/__pycache__/

/notebooks/.ipynb_checkpoints
/notebooks/*.pyc
/notebooks/__pycache__/
/notebooks/deeplearning.ai/.ipynb_checkpoints
/notebooks/deeplearning.ai/*.pyc
/notebooks/deeplearning.ai/__pycache__/
/notebooks/stats216v/.ipynb_checkpoints

# Ignore everything in vendor/, except for *.go files,
# LICENSE and COPYING. Ignore Go tests.
# https://github.com/golang/dep/issues/120#issuecomment-306518546
vendor/**/*
!vendor/**/
!vendor/**/*.go
!vendor/**/*.s
!vendor/**/LICENSE*
!vendor/**/COPYING*
vendor/**/*_test.go
