<div class="mnist-group">
    <section class="more-about">
        <div class="inner">
            <div class="block block-copy half">
                <h5>MNIST</h5>
                <p>
                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes
                    very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
                </p>
                <br>
                <md-input-container class="input-full-width">
                    <input mdInput type="text" #inputText maxlength="30" placeholder="Type any words..." [(ngModel)]="inputValue">
                    <md-hint align="end">{{inputText.value.length}} / 30</md-hint>
                </md-input-container>
                <br>
                <button md-button color="primary" class="mnist-button" (click)="processRequest();">Run</button>
            </div>
            <div class="block block-copy half">
                <p>
                    <md-progress-spinner *ngIf="mnistInProgress" [color]="spinnerColor" [mode]="spinnerMode" [value]="spinnerValue">
                    </md-progress-spinner>
                    {{mnistResult}}
                </p>
            </div>
        </div>
    </section>
    <router-outlet></router-outlet>
</div>