<div class="home-group">
    <section class="more-about">
        <div class="inner">
            <div class="block block-copy half">
                <h2>About etcd</h2>
                <p>
                    <a href="https://github.com/gyuho/dplearn" target="_blank" class="home-link-main">dplearn</a> is a set of deep learning projects based on <a href="https://www.tensorflow.org/" target="_blank" class="home-link-main">Tensorflow</a>. TODO: learn Tensorflow for NLP works.
                </p>
                <br>
                <a routerLink="/cats">
                    <button md-raised-button color="primary" class="home-button">
                        Cats
                    </button>
                </a>
                <a routerLink="/todo">
                    <button md-raised-button class="home-play-button">
                        TODO
                    </button>
                </a>
            </div>
            <div class="block block-graphic">
                <div class="aspect-ratio-16-9">
                    <iframe id="video" src="https://www.youtube.com/embed/oZikw5k_2FM" frameborder="0" allowfullscreen=""></iframe>
                </div>
            </div>
        </div>
    </section>
    <router-outlet></router-outlet>
</div>
