<mat-toolbar color="primary">
    <a routerLink="/home"><button mat-button>Home</button></a>
    <a routerLink="/cats"><button mat-button>Cats</button></a>
    <button mat-button [matMenuTriggerFor]="menu">More</button>
    <mat-menu #menu="matMenu">
        <a href="https://github.com/gyuho/dplearn/tree/master/notebooks" target="_blank"><button mat-menu-item>Practice Notebooks</button></a>
    </mat-menu>
    <a href="https://github.com/gyuho/dplearn" target="_blank"><button mat-button>Code</button></a>
</mat-toolbar>
<router-outlet></router-outlet>
