<!-- TODO: add word predict -->
<!-- <mat-form-field class="input-full-width">
    <textarea matInput type="text" #inputText maxlength="200" matAutosizeMinRows="5" placeholder="Type texts..." [(ngModel)]="backendService.inputValue"></textarea>
    <mat-hint align="end">{{inputText.value.length}} / 200</mat-hint>
</mat-form-field> -->

<div class="cats-group">
    <section class="more-about">
        <div class="inner">
            <div class="block block-copy half">
                <h5>Cats</h5>
                <p>
                    Cats vs. Non-cat classifier using 5-layer neural networks. Input any cat photo URL and hit "Run" button. Backend server downloads image, scheduling on the queue. Worker preprocesses/classifies image, and returns result to the user.
                </p>
                <br>
                <mat-form-field class="input-full-width">
                    <input matInput type="text" #inputText maxlength="300" placeholder="Type URL" [(ngModel)]="backendService.inputValue">
                    <mat-hint align="end">{{inputText.value.length}} / 300</mat-hint>
                </mat-form-field>
                <br>
                <button mat-button color="primary" class="cats-button" (click)="backendService.clickPOST();">Run</button>
            </div>
            <div class="block block-copy half">
                <p>
                    <img src="{{backendService.inputValue}}" alt="user input image" height="100" width="100">
                </p>
                <p>
                    <mat-progress-spinner *ngIf="backendService.progress === 0" [color]="backendService.spinnerColor" [mode]="backendService.spinnerMode"></mat-progress-spinner>
                    <mat-chip-list *ngIf="backendService.progress === 100">
                        <mat-chip color="primary" selected="true">Done!</mat-chip>
                    </mat-chip-list>
                    <br>
                    {{backendService.result}}
                </p>
            </div>
        </div>
    </section>
    <router-outlet></router-outlet>
</div>
